{% extends "base.html" %}
{% block content %}
    {% include "ui/style.html" %}
    <div class="flex flex-column flex-row-l h-100 pa2">
        <!-- Left column - AddTransaction and PreviousTransactions -->
        <div class="w-100 w-two-thirds-l flex flex-column pa2">
            <div class="bg-white br3 shadow-1 pa3 mb3">{% include "ui/AddTransaction.html" %}</div>
            <div class="bg-white br3 shadow-1 pa3 flex-auto">{% include "ui/PreviousTransactions.html" %}</div>
            {% include "ui/excel.html" %}
        </div>
        <!-- Right column - Summary pane -->
        <div class="w-100 w-third-l pa2">
            <div class="bg-white br3 shadow-1 pa3 h-100 sticky top-1">{% include "ui/summary.html" %}</div>
        </div>
    </div>
{% endblock %}
